.home {
  width: 100vw;
  max-width: inherit;
  height: 160vh;
  margin: auto;
  background-color: #f9f9f9;
}

.home .topbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 8vh;
  box-shadow: 0px 2px 5px lightgray;
}

.home .topbar h2 {
  color: #355347;
  font-weight: 800;
  font-size: 2em;
}

/* .home .date-selector {
  display: flex;
  align-items: center;
}
.home .topbar input {
  border: none;
  font-size: 1em;
  color: #02542d;
  background-color: white;
}
.home .topbar input[type="date"]::-webkit-calendar-picker-indicator{
    background: url(../../assets/Calendar.png) no-repeat;
    width: 45px;
    height: 45px;
}
.home .topbar input:focus {
  outline: none;
}

.home .date-selector img {
  margin-right: 10px;
} */


.date-picker {
  display: flex;
  align-items: center;
}

.date-picker input {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.topbar .calendar-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.calendar{
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 500px;
  background-color: #669b5f;
  margin: auto;
}

.home .adv {
  width: 90vw;
  max-width: 500px;
  height: 20vh;
  margin: auto;
  margin-top: 10px;
  /* background-color: rgb(145, 118, 118); */
  background-image: url(../../assets/AdvWidget.png);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px lightgray;
}
.home .title{
  color: #02542d;
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}

.home .caloriebox{
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px lightgray;

}

.home .calorieheader {
  width: inherit;
  max-width: inherit;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.home .circlechart {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home .calorietext {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: #02542d;
}
.home .calorietext h4{
  padding-left: 3px;
  color: #669b5f;
}
.home .progress{
  animation: progress-animation 3s ease-out forwards;
}
@keyframes progress-animation {
  from {
    stroke-dasharray: 0 252;
  }
  to {
    stroke-width: 10 6;
  }
}
.home .line-sep{
  width: inherit;
  max-width: inherit;
  margin: auto;
}
.home .macro{
  width: inherit;
  max-width: inherit;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}
.home .macro .macro-box{
  width: 35%;
  margin: auto;
  display: flex;
  padding-left: 10px;

}
/* .home .macro .macro-progress{

} */
 .home .macro .macro-box h4{
  font-size: 0.8em;
  padding-left: 5px;
 }

 .home .progress-bar{
  animation: progress-bar-animation 3s ease-out forwards;
 }
 @keyframes progress-bar-animation {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-width: 5 5;
  }
}

.home .dietbox{
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}
.home .dietplanbox{
  width: 35vw;
  max-width: 200px;
  height: 30vw;
  max-height: 150px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px lightgray;
}


.home .weightbox{
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px lightgray;
}

.home .trackbox{
  width: 90vw;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}

.home .waterbox{
  width: 35vw;
  max-width: 200px;
  height: 30vw;
  max-height: 150px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px lightgray;
}
.home .sleepbox{
  width: 35vw;
  max-width: 200px;
  height: 30vw;
  max-height: 150px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 2px lightgray;
}

.home .menubar {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  max-width: inherit;
  height: 8vh;
  margin: auto;
  margin-top: 10px;
  border-radius: 40px;
  box-shadow: 5px -5px 10px grey;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .menubar img{
  width: 30px;
  height: 30px;
}
.home .menubar .profileimg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .navigate-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navigate-button:hover {
  background-color: #0056b3;
} */