.home {
  width: 100vw;
  max-width: inherit;
  height: 100vh;
  margin: auto;
  background-color: #f6f6f6;
}

.home .topbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 8vh;
  box-shadow: 5px 5px 10px grey;
}

.home .topbar h2 {
  color: #02542d;
  font-weight: 800;
  font-size: 2em;
}

/* .home .date-selector {
  display: flex;
  align-items: center;
}
.home .topbar input {
  border: none;
  font-size: 1em;
  color: #02542d;
  background-color: white;
}
.home .topbar input[type="date"]::-webkit-calendar-picker-indicator{
    background: url(../../assets/Calendar.png) no-repeat;
    width: 45px;
    height: 45px;
}
.home .topbar input:focus {
  outline: none;
}

.home .date-selector img {
  margin-right: 10px;
} */


.date-picker {
  display: flex;
  align-items: center;
}

.date-picker input {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.calendar-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.home .adv {
  width: 95vw;
  max-width: inherit;
  height: 15vh;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(145, 118, 118);
  border-radius: 20px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}
.home .title{
  color: #02542d;
  width: 95vw;
  max-width: inherit;
  margin: auto;
  margin-top: 10px;
}

.home .caloriebox {
  width: 95vw;
  max-width: inherit;
  height: 15vh;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home .calorietext {
  padding: 10px;
  color: #02542d;
}

.home .circlechart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .progress{
  animation: progress-animation 3s ease-out forwards;
}
@keyframes progress-animation {
  from {
    stroke-dasharray: 0 190;
  }
  to {
    stroke-width: 10 6;
  }
}


.home .menubar {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  max-width: inherit;
  height: 8vh;
  margin: auto;
  margin-top: 10px;
  border-radius: 40px;
  box-shadow: 5px -5px 10px grey;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home .menubar img{
  width: 30px;
  height: 30px;
}
.home .menubar .profileimg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .navigate-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navigate-button:hover {
  background-color: #0056b3;
} */